<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer th:fragment="footer">
        <div class="blockcode">      
            <footer class="page-footer shadow">
              <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
                <div class="d-flex flex-wrap justify-content-between">
                  <div class="align-self-center">
                    <a href="/#" class="d-flex align-items-center p-0 text-dark">
                      <img alt="logo" th:src="@{/images/logo.webp}" width="200px" />
                    </a>
                    <div class="mt-5">
                      <button class="btn btn-dark btn-flat p-2">
                        <i class="fa fa-facebook"></i>
                      </button>
                      <button class="btn btn-dark btn-flat p-2">
                        <i class="fa fa-twitter"></i>
                      </button>
                      <button class="btn btn-dark btn-flat p-2">
                        <i class="fa fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                  <div>
                    <p class="h5 mb-4" style="font-weight: 600">THÔNG TIN</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Liên hệ</a>
                      </li>
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Về Gento</a>
                      </li>
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Khuyễn mãi</a>
                      </li>
                      <li class="my-2"><a class="text-dark footer-text" href="/">Sản xuất đồ da</a></li>
                    </ul>
                  </div>
                  <div>
                    <p class="h5 mb-4" style="font-weight: 600">HỖ TRỢ</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Các câu hỏi</a>
                      </li>
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Tin tức</a>
                      </li>
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Tuyển dụng</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <p class="h5 mb-4" style="font-weight: 600">CHÍNH SÁCH</p>
                    <ul class="p-0" style="list-style: none; cursor: pointer">
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Chính sách bảo mật</a>
                      </li>
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Đổi trả và bảo hành</a>
                      </li>
                      <li class="my-2">
                        <a class="text-dark footer-text" href="/">Chính sách vận chuyển</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <small class="text-center mt-5">&copy; GENTO, 2023. All rights reserved.</small>
              </div>
            </footer>
          </div>
    </footer>
</body>
</html>