<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title>
</head>

<body>
  <header th:fragment="header">
    <nav class="navbar navbar-light bg-dark bg-222">
      <div class="container-fluid">
        <ul class="nav-left" sec:authorize="!isAuthenticated()">
          <li><a href="/security/login/form">Đăng nhập</a></li>
          <li><a href="/security/register/form">Đăng ký</a></li>
        </ul>
        <ul class="nav-left" sec:authorize="isAuthenticated()">
          <li class="user-ul">
            <span style="color:#bda87f; cursor: pointer;">
              [[${fullname}]]

            </span>
            <ul class="user-li">
              <li><a href="/security/profile">Xem thông tin</a></li>
              <li><a href="/order/list">Đơn đặt hàng của bạn</a></li>
              <li><a href="/security/logoff">Đăng xuất</a></li>
            </ul>
          </li>
          <li sec:authorize="hasAnyRole('DIRE','STAF')">
            <a style="color:#bda87f; cursor: pointer;" href="/admin/index" >Admin Page</a>

          </li>
        </ul>
        <ul class="nav-right">
          <li style="cursor: pointer;">
            <i class="fa fa-search" aria-hidden="true"></i>
            <form class="nav-search--click"  action="/product/search" method="post">
              <input type="text" placeholder="search"  name="keyword" th:value="${param.keyword}">
              <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </li>
          <li  class="nav-cart"><a><i
                class="fa fa-shopping-cart" aria-hidden="true"></i>
              <a th:href="@{|/cart/view|}">
              <span style="color:#848484; margin-left: 6px;">Giỏ hàng:</span> {{cart.count}} Sản phẩm</a>
            <ul class="nav-cart--items" style="color:#000; padding: 10px; min-width:600px; max-height: 350px; overflow-y:scroll; ">
              <table  class="table" ng-show="{{cart.count}} > 0">  
              <tbody>
                  <tr ng-repeat="item in cart.items">
                    <a th:href="@{|/product/detail/{{item.id}}|}">
                      <td><img width="80px;" height="70px" style="object-fit: contain;" src="/product/{{item.image}}" alt=""></td>
                    </a>

                      <td>{{item.name}}</td>
                      <td>{{item.price|number:2}}</td>
                      <td><input type="number" ng-model="item.qty" min="1" style="width: 50px;"></td>
                      <td>{{item.qty*item.price|number:2}}</td>
                      <td>
                          <button ng-click="cart.remove(item.id)" class="btn btn-sm btn-danger">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
              <li ng-show="{{cart.count <= 0}}">
                <img style="width: 100%; height: 100%;" th:src="@{/images/cartEmpty.webp}" alt="">
              </li>
            </ul>
            
                  
            
          </li>

        </ul>

      </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-light header_navbar" id="neubar">
      <div class="container">
        <a class="navbar-brand" href="/home/index"><img th:src="@{/images/logo.webp}" height="60" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" th:href="@{|/home/index|}" aria-current="page">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" th:href="@{|/product/bestseller|}">Sản phẩm tốt nhất</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link  mx-2 dropdown-toggle" th:href="@{/product/male}" id="navbarDropdownMenuLink1"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nam
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <li th:each="c: ${cates}"><a class="dropdown-item"
                    th:href="@{|/product/male?cid=${c.id}|}">[[${c.name}]] </a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" th:href="@{/product/female}" id="navbarDropdownMenuLink2"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nữ
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                <li th:each="c: ${cates}"><a class="dropdown-item"
                    th:href="@{|/product/female?cid=${c.id}|}">[[${c.name}]] </a></li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>

</html>